<!DOCTYPE html>
<html lang="tr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ekşi Sansür</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <style>
            @media (min-width: 768px) {
                .container {
                    width: 750px;
                }
            }

            @media (min-width: 992px) {
                .container {
                    width: 970px;
                }
            }

            @media (min-width: 1200px) {
                .container {
                    width: 1170px;
                }
            }

        </style>
    </head>

    <body>
        <div class="container" style="padding-right: 25px; padding-left: 25px; margin-right: auto; margin-left: auto;">
            <h1>Updating</h1>
        </div>
    </body>

</html>
